<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div style="justify-items: center; padding-top: 20px; padding-bottom: 20px;">
    <form action="{% url 'search_city_view' %}" method="get" class="d-flex mb-4" style="width: 25%;">
            <input type="text" name="city" class="form-control" placeholder="Search for a city">
            <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Search</button>
    </form>
</div>

<div class="d-flex flex-wrap justify-content-center">
    {% for name, data in cities.items %}
    <div class="m-3" style="flex-wrap: wrap;">
        <div class="card shadow-sm" style="border: 1px solid black; padding: 15px;">
            <h3 class="card-title">{{ name }}</h3>
            <p class="card-text"><span>The weather is:</span> {{ data.desc|capfirst }}</p>
            <p class="card-text"><span>Temperature:</span> {{ data.temp }}°C</p>
            <p class="card-text"><span>Humidity:</span> {{ data.humidity }}%</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="d-flex flex-wrap justify-content-center">
    <div class="m-3" style="flex-wrap: wrap;">
        <h3 class="card-title"><span>Coldest city: {{stats.0}}</span></h3>
        <p class="card-text"><span>Temperature:</span> {{stats.1 }}°C</p>
        <p class="card-text"><span>Average temperature:</span> {{ stats.2|floatformat:2 }}°C</p>
    </div>
</div>
<h3 style="text-align: center;">Last 10 Cities Weather</h2>
<div class="d-flex justify-content-center">
    <div>
        <table class="table-bordered align-middle" style="background-color: darkseagreen;">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Temperature (°C)</th>
                    <th>Description</th>
                    <th>Humidity (%)</th>
                </tr>
            </thead>
            <tbody>
                {% for city in last_ten_cities %}
                <tr>
                    <td>{{ city.city }}</td>
                    <td>{{ city.temperature }} °C</td>
                    <td>{{ city.description|capfirst }}</td>
                    <td>{{ city.humidity }} %</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<footer style="position: absolute; bottom: 0; width: 100%; height: 50px;">
  <div  style="text-align: center;">
    <p>© 2025 Weather App.</p>
  </div>
</footer>

</body>
</html>